<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Covid 19 India</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Inria+Sans&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="heading">
        Covid-19 India Panel
      </div>
    </header>

    <div class="content">
      <div class="date">
        <p>Latest Statistics as of <br /></p>

        <div class="dates">{{ lastUpdate }}</div>
      </div>
      <div class="confirmed">
        <p>Confirmed Cases</p>
        <div class="data">{{ totalConfirmed }}</div>
      </div>

      <div class="active">
        <p><span class="actives">Active</span></p>
        <div class="data">{{ totalActive }}</div>
      </div>

      <div class="death">
        <p><span class="deceased">Deceased</span></p>
        <div class="data">{{ totalDeaths }}</div>
      </div>

      <div class="recovered">
        <p><span class="recovery">Recovered</span></p>
        <div class="data">{{ totalRecovered }}</div>
      </div>
    </div>
    <footer class="foot">
      Jaskirat Singh Oberoi © Hansei By Design 2020
    </footer>
    <script></script>
  </body>
</html>
