<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Covid 19 India</title>
    <link rel="stylesheet" href="../static/style.css" />
    <link
      rel="shortcut icon"
      href="../static/media/virus2.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Inria+Sans&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="heading">
        Covid-19 India Dashboard
      </div>
    </header>

    <div class="content">
      <div class="date">
        <p>Latest Statistics as of <br /></p>

        <div class="dates">{{ lastUpdate }}</div>
      </div>

      <div class="total-stats">
        <div class="confirmed">
          <p>Confirmed Cases</p>
          <div class="data">{{ caseData[0]["confirmed"] }}</div>
        </div>

        <div class="active">
          <p><span class="actives">Active</span></p>
          <div class="data">{{ caseData[0]["active"] }}</div>
        </div>

        <div class="death">
          <p><span class="deceased">Deceased</span></p>
          <div class="data">{{ caseData[0]["deaths"] }}</div>
        </div>

        <div class="recovered">
          <p><span class="recovery">Recovered</span></p>
          <div class="data">{{ caseData[0]["recovered"] }}</div>
        </div>
      </div>
    </div>
    <div class="stats-table">
      <table class="main-table">
        <thead class="table-header">
          <tr>
            <th>State</th>
            <th>Confirmed</th>
            <th>Active</th>
            <th>Deceased</th>
            <th>Recovered</th>
          </tr>
        </thead>
        <tbody class="table-body"></tbody>
      </table>
    </div>
    <footer class="foot">
      <a href="https://www.linkedin.com/in/jaskiratoberoi/">
        Jaskirat Singh Oberoi</a
      >
      © Hansei By Design 2020
    </footer>

    <script>
      //Selectors
      const tableBody = document.querySelector(".table-body");
      var caseData = {{ caseData|tojson }}
      let i = 0;
      //Event Listeners
      tableBody.addEventListener("DOMContentLoaded", loadAllTableData());
      // console.log(caseData);
      //Functions
      function loadAllTableData(event) {
        //   event.preventDefault();
       caseData.forEach( () => {

        const newRow = document.createElement("tr");
        const stateName = document.createElement("td");
        stateName.innerText = caseData[i]["state"];
        newRow.appendChild(stateName);

        const confirmed = document.createElement("td");
        confirmed.innerText = caseData[i]["confirmed"];
        newRow.appendChild(confirmed);

        const active = document.createElement("td");
        active.innerText = caseData[i]["active"];
        newRow.appendChild(active);

        const death = document.createElement("td");
        death.innerText = caseData[i]["deaths"];
        newRow.appendChild(death);

        const recovered = document.createElement("td");
        recovered.innerText = caseData[i]["recovered"];
        newRow.appendChild(recovered);

        tableBody.appendChild(newRow);
        i++;

       })





      }
    </script>
  </body>
</html>
